@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 
font-family: "Raleway", sans-serif;
font-family: "Open Sans", sans-serif;
*/

/*
576px  -> pantallas pequeñas (celulares)
768px  -> pantallas pequeñas (tablets y celulares)
992px  -> pantallas medianas (Desktop)
1200px -> pantallas grandes (Desktops, TVs)
*/
/*ESTILOS GENERALES*/

* {
    /* Selector Universal */

    margin: 0;
    box-sizing: border-box;

}

html {
    font-size: 14px;
}

body {

    background-color: hsl(217, 28%, 15%);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    /* TODO:Adaptar el ancho de las imagenes a dispositivos moviles */
    max-width: 100%;
    height: auto;
}

/* UTILS */
.hidden {
    display: none;
}

.wrapper {
    width: 1000px;

    width: min(100% - 3rem, 1000px);


    /* TODO:Adaptar el ancho de la pagina a dispositivos moviles*/
}

/* HEADER SECTION */
.header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*14px * 3=42px*/
    /* margin-top: 3rem; */
    /* 0 auto 0 auto*/
    margin: 0 auto;
    margin-top: 3rem;



}

.header__nav {
    display: flex;
    gap: 42px;


}

.hero {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 12rem;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.hero__image {
    width: 450px;
}

.hero__title {
    /* border: 1px solid blue; */
    /* width: 720px; */
    width: min(100% - 3rem, 720px);
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
}

.hero__text {
    /* border: 1px solid orange; */
    /* width: 500px; */
    width: min(100% - 3rem, 720px);
    font-size: 1.2rem;
    text-align: center;
}

.hero__button {

    border: none;
    border-radius: 7rem;
    min-width: 220px;
    color: hsl(0, 0%, 100%);
    padding: 1rem 1.5rem;

    /* linear-gradiente(GRADOS,COLOR1, COLOR2); */
    background: linear-gradient(90deg, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 50%);
    transition: all 0.2s ease-in;

}

.hero__button:hover {
    cursor: pointer;
    background: linear-gradient(90deg, hsl(198, 60%, 50%) 0%, hsl(176, 68%, 64%) 50%);
    transform: scale(1.1);
    transform: rotate(2deg);
}

.features {
    background-color: hsl(218, 28%, 13%);
    display: grid;
    grid-template-columns: 340px;
    gap: 5rem;
    justify-content: center;


}

/* MEDIA QUERY: Se aplica a pantallas pequeñas (celulares y tablets) */

@media(min-width: 1200px) {
    .features {
        grid-template-columns: 340px 340px;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.feature__image {
    height: 68px;
}

.feature__title {
    font-family: "Raleway", sans-serif;
}

.feature__text {
    font-family: "Raleway", sans-serif;
    text-align: center;

}

/* TODO:COLABORATION SECTION - Maquetar y aplicar estilos en esta seccion */


.collaboration {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-top: 8rem;
}

.how_works {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 480px;
}

.how_works__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;

}

.how_works__text {}

.how_works__button {
    color: hsl(176, 68%, 64%);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: 10.8rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid hsl(176, 68%, 64%);
}